@font-face {
    font-family: Aileron;
    src: url('../fonts/Aileron-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url('../fonts/Aileron-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
    font-family: Aileron;
}
header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(152,202,63);
    padding: 10px;
}
header img {
    width: 10%;
    height: auto;
}
.item_navegacao {
    margin: 0 10px;
    text-decoration: none;
    color: rgb(255,255,255);
}
.pedido_navegacao {
    padding: 10px 25px;
    color: rgb(255,255,255);
    text-decoration: none;
    background-color: black;
    border-radius: 5px;
}
.menu_pedido {
    margin: 50px 0;
}
.tipo_pedido {
    display: flex;
    justify-content: space-evenly;
}
.opcao_pedido, .opcao_endereco {
    border: 2px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 25px;
}
.opcao_endereco {
    
}
.mapa {
    text-align: center;
}
.mapa img {
    width: 100%;
}
.mapa input {
    margin: 15px;
    padding: 10px 45px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(255,255,255);
    background-color: rgb(152,202,63);
    border: none;
    border-radius: 5px;
}
.logo {
    text-align: center;
}
.logo img {
    margin: 25px 0;
}
.rodape {
    display: flex;
    background-color: rgb(246,248,249);
    justify-content: space-between;
    align-items: center;
}
.rodape_servicos{
    display: flex;
    list-style: none;
}
.item_servico {
    margin: 7px;
    font-weight: bold;
    color: rgb(81,84,94);
}
.rodape_social {
    margin: 25px 50px;
}