@font-face {
    font-family: Aileron;
    src: url('../fonts/Aileron-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: Aileron;
    src: url('../fonts/Aileron-Bold.otf');
    font-weight: bold;
    font-style: normal;
}
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255,255,255);
    font-family: Aileron;
}
header {
    background-image: url("../img/FUNDO.png");
    background-position: center;
    background-size: cover;
    height: 450px;
}
.barra_navegacao {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 50px;
}
.item_navegacao {
    margin: 15px;
    text-decoration: none;
    color: rgb(255,255,255);
}
.item_navegacao:nth-child(2) {
    text-decoration: underline 2px rgb(255,255,255);
    text-underline-offset: 5px;
}
.pedido_navegacao, .pedido_redireciona {
    margin: 15px;
    padding: 2px 15px;
    border: 2px solid rgb(152,202,63);
    border-radius: 5px;
    background-color: rgb(152,202,63);
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255,255,255);
}
.resumo {
    align-items: center;
    text-align: center;
    color: rgb(255,255,255);
    max-width: 300px;
    margin: 20px auto;
}
.resumo img {
    width: 90%;
}
.sabores {
    display: flex;
    justify-content: space-around;
    width: auto;
    height: 200px;
    margin: 50px 0;
}
.sabores:nth-child(2){
    padding: 50px 0;
    background-color: rgb(246,248,249);
}
.sabores .descricao {
    max-width: calc(viewport-lenght);
    margin: 0 50px;
}
.sabores img {
    max-width: 250px;
    max-height: 250px;
    margin: 0 50px;
    border-radius: 5px;
}
.sabores .pedido_sabor {
    color: rgb(0,0,0);
    text-decoration: underline 2px rgb(152,202,63);
    text-underline-offset: 7px;
}
.mais_sabores {
    background-color: rgb(152,202,63);
    padding: 16px;
    text-align: center; 
}
.mais_sabores a {
    color: rgb(0,0,0);
    text-decoration: underline 2px rgb(255,255,255);
    text-underline-offset: 10px;
    font-size: 22px;
    font-weight: bold;
}
.logo {
    padding: 50px;
    text-align: center;
}
.rodape {
    display: flex;
    background-color: rgb(246,248,249);
    justify-content: space-between;
    align-items: center;
}
.rodape_servicos{
    display: flex;
    list-style: none;
}
.item_servico {
    margin: 7px;
    font-weight: bold;
    color: rgb(81,84,94);
}
.rodape_social {
    margin: 25px 50px;
}